extends ./layout/layout
block append head
	title 专题详情
	link(rel='stylesheet',href='css/zhuanti-details.css')

block content
	div.topTitle
		a.dd-png.btn-back(href="javascript:;",hidefocus) 返回
		h2.title-txt 3.14恋爱养成游戏精选
	div.warp.mCustomScrollbar
		div.inner-warp
			//- 顶部
			div.top
				div.banner
					a: img(width="737",height="96",hidefocus,src="./pic/zhuanti-details/zhuanti-banner.jpg")
			//- 中间内容
			div.section.section1
				ul
					-for(var i=1;i<=8;i++){
						li
							a.media-icon(href="#",title="百度壁纸",hidefocus)
								img(width="48",height="48",src="./pic/zhuanti-details/icon4848.png")
							div.msg-inner
								div.dd-png.star.sprites-star(title="评分：90")
									span.dd-png.inner-star(style="width:90%;")
								h2: a(href="#",title="百度壁纸",hidefocus) 百度壁纸百度壁纸
								p(title="不用学习就会用的免费图片处不用学习就会用的免费图片处") 不用学习就会用的免费图片处不用学习就会用的免费图片处
							div.btn-box: a.dd-png.btn.btn-error.btn-disabled(href="javascript:;",hidefocus) 安装
					-}
			dl.section.Hot-topic
				dt 更多专题
				-for(var i=1;i<=3;i++){
					dd
						a(href="#",hidefocus,title="12款软件让你秒变学霸")
							img(width="232",height="123",src="./pic/today-hot/topic.jpg")
							div.text-box
								p 12款软件让你秒变学霸款软件让你秒变学霸款软件让你秒变学霸
								div.bg
				-}

block append script
	script.
		$(function(){
			$(".mCustomScrollbar").mCustomScrollbar({
				theme:"dark-3",
				setWidth:$(window).width(),
				setHeight:$(window).height()-37
			});
		});
