doctype html
<!--[if lt IE 6]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gte IE 9]><html class="ie9"><![endif]-->
<html>
head
	include ../components/head
	link(rel='stylesheet',href='css/jquery.mCustomScrollbar.css')
	style.
		body,html{
			height:100%;
		}
body
	//- div.scrollbar-wrapper
		//- 
			div.scrollbar
				div.track
					div.thumb
						div.thumb-hd
							div.i4
							div.i6
							div.i8
						div.thumb-bd
						div.thumb-ft
							div.i8
							div.i6
							div.i4
		div.viewport
			div.overview
	div.warp
		block content
	block script
		<!--[if IE 6]>
		<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
		<script>DD_belatedPNG.fix('img,i,span,.dd-png');</script>
		<![endif]-->
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
</html>